<div class="content">
  <div class="side">
    <h1 class="sideh1">font</h1>
    <i class="fa fa-arrow-circle-up fa-2x"></i>
    <ul class="left">
      <li>Latest</li>
      <li>Most Popular</li>
      <li>Curator</li>
    </ul>
  </div>
  <div id="fonts" class="transitions-enabled">
    <% @fonts.each do |f| %>
      <div class="box">
        <h1 id="<%= f.id %>" style="<%= f.font_family %>"><%= f.name %></h1>
        <p><%= f.weight %></p>
        <p>Created by <%= f.styles_by %></p>
          <ul class="squares" id="<%= f.id %>">
            <li><div class="red-square"></div></li>
            <li><div class="green-square"></div></li>
            <li><div class="yellow-square"></div></li>
            <li><div class="purple-square"></div></li>
          </ul>
        <% if @voter.voted_for? f %>
          <a class="fa fa-arrow-circle-o-up fa-2x liked" id="<%= f.id %>" href="javascript: void(0)"></a>
          <p class="votes" style="font-family: 'Montserrat', sans-serif; color: #E91E63;"><%= pluralize(f.get_upvotes.size, "vote") %></p>
        <% else %>
          <%= link_to upvote_site_path(f), method: :post, class: "fa fa-arrow-circle-o-up fa-2x non-clicked", id: f.id do %>
        <% end %>
          <p class="votes" style="font-family: 'Montserrat', sans-serif;"><%= pluralize(f.get_upvotes.size, "vote") %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
